.displayGraph{
    height:95vh;
    width:70vw;
    background-color:#1F2833;
    margin: auto;
}
.bar{
    display: inline-block;
    background-color: white;
    vertical-align:top;
}

.sideBar{
    display: flex;
    height:95vh;
    width:30vw;
    background-color:#cca580;
    margin:auto;
    padding: 2%;

}
.sideItem{
    margin: 0%;
    margin-top: 10%;
    margin-left: 4.5vw;
    padding: auto;
    align-self: auto;
}
.sideItemHeading{
    font-size:40px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
    margin-left: 4.5vw;
}
.sideItemLabel{
    margin: 0%;
    margin-top: 10%;
    margin-left: 4.5vw;
    /* font-size:10px; */
    padding: auto;
    font-size-adjust: inherit;
    font-family:"Lucida Console";
    font-size: large;
    text-align: center;

}
.row{
    display: flex;
    background-color:#1F2833 ;
}
root{
    display: flex;
    background-color:#1F2833 ;
}